<footer class="footer">
  <div class="row-fluid" id="content_footer">
    <div class="content_column">
      <h5><%= t "footer.Address" %></h5>
      <p><%= t "footer.addr" %></p>
    </div>
    <div class="content_column">
      <h5><%= t "footer.Contact" %></h5>
      <p><%= t "footer.phone" %></p>
      <p><%= t "footer.email" %></p>
    </div>
    <div class="content_column">
      <h5><%= t "footer.name" %></h5>
      <%= t "footer.content" %>
    </div>
   </div>
   <p><%= t "footer.copyright" %></p>
</footer>
