<div class="well well-small">
  <h3><%= t "static_pages.New_Books" %></h3>
  <hr class="soften"/>
  <div class="row-fluid">
    <div id="newProductCar" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <ul class="thumbnails">
            <li class="span3">
              <div class="thumbnail">
                <%= link_to image_tag("e.jpg", class: "img_new_books"), "#" %>
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail">
                <%= link_to image_tag("f.jpg", class: "img_new_books"), "#" %>
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail">
                <%= link_to image_tag("g.jpg", class: "img_new_books"), "#" %>
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail">
               <%= link_to image_tag("h.jpg", class: "img_new_books"), "#" %>
             </div>
           </li>
         </ul>
        </div>
        <div class="item">
          <ul class="thumbnails">
            <li class="span3">
              <div class="thumbnail">
                <%= link_to image_tag("i.jpg", class: "img_new_books"), "#" %>
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail">
                <%= link_to image_tag("k.jpg", class: "img_new_books"), "#" %>
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail">
                <%= link_to image_tag("l.jpg", class: "img_new_books"), "#" %>
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail">
                <%= link_to image_tag("m.jpg", class: "img_new_books"), "#" %>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <a class="left carousel-control" href="#newProductCar" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#newProductCar" data-slide="next">&rsaquo;</a>
    </div>
  </div>
</div>
