<% provide :title, t(".title") %>
<h3><%= t ".h3" %></h3>
<hr class="soft"/>
<div class="well">
  <h3><%= t ".information" %></h3>
  <%= form_for(:session, url: login_path, html: {class: "form-horizontal"}) do |f| %>

    <div class = "control-group">
      <%= f.label :email, class: "control-label" %>
      <div class ="controls">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class = "control-group">
      <%= f.label :password, t(".pass"), class: "control-label" %>
      <div class ="controls">
        <%= f.password_field :password %>
      </div>
    </div>

    <div class = "control-group">
      <div class ="controls">
        <%= f.check_box :remember_me %>
        <span><%= t ".remember_me" %></span>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit t(".submit"), class: "exclusive shopBtn" %>
      </div>
    </div>
<% end %>
</div>
