<% provide :title, t(".title") %>
<div class="well well-small">
  <h2><%= t ".h2" %>
    <small class="pull-right">
      <%= t ".small", count: @count_requests %>
    </small>
  </h2>
  <hr class="soften"/>
  <div class = "post-body">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th><%= t ".title_book" %></th>
          <th><%= t ".author" %></th>
          <th><%= t ".created_at" %></th>
          <th><%= t ".status" %></th>
          <th><%= t ".destroy" %></th>
        </tr>
      </thead>
      <tbody>
        <% if current_user && @buy_requests.any? %>
          <% @buy_requests.each do |request| %>
            <tr>
              <td><%= request.title %></td>
              <td><%= request.author %></td>
              <td><%= request.created_at.strftime("%d/%m/%Y") %></td>
              <%= load_status request.status %>
              <td>
                <%= link_to t(".del"), user_buy_request_path(@user.id,request.id),
                  method: :delete, data: {confirm: t(".confirm")} %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @buy_requests %>
  </div>
  <%= link_to t(".create"), new_user_buy_request_path(@user.id) %>
</div>
