<% provide :title, @user.fullname %>
<div class = "well well-small">
  <div class = "row-fluid">
    <div class="span5">
      <%= image_tag("user-icon.png") %>
    </div>
    <div class="span7">
      <h3><%= @user.fullname %></h3>
      <hr class="soft"/>
      <% if current_user? @user %>
        <%= link_to t(".edit"), edit_user_path(current_user) %>
      <% end %>
    </div>
  </div>
  <hr class="softn clr"/>
  <ul id="productDetail" class="nav nav-tabs mytab">
    <li class="active"><a href="#timeline" data-toggle="tab">
      <%= t ".timeline" %>
    </a></li>
    <li class=""><a href="#list_favorite_books" data-toggle="tab">
      <%= t ".favorite_book" %>
    </a></li>
  </ul>
  <div id="myTabContent" class="tab-content tabWrapper">
    <div class="tab-pane fade active in" id="timeline">
      <p></p>
    </div>
    <div class="tab-pane fade" id="list_favorite_books">
      <%= render "list_favorite_books" %>
    </div>
  </div>
</div>
