<% provide :title, t(".title") %>
<ol class = "breadcrumb">
  <li class = "breadcrumb-item">
    <%= link_to t(".home"), admin_root_path %>
  </li>
  <li class = "breadcrumb-item active"><%= t ".categories" %></li>
</ol>
<div class = "card mb-3">
  <div class = "card-header">
    <i class = "fa fa-list-alt "></i>
    <%= t ".list_cat" %>
    <%= link_to t(".add"), "#", class: "fa fa-plus addBtn" %>
  </div>
  <div class = "card-body">
    <p><%= t ".p" %></p>
  </div>
</div>
