<% provide :title, t(".title") %>
<ol class = "breadcrumb">
  <li class = "breadcrumb-item">
    <%= link_to t(".home"), admin_root_path %>
  </li>
  <li class = "breadcrumb-item">
    <%= link_to t(".categories"), admin_categories_path %>
  </li>
  <li class = "breadcrumb-item active"><%= t ".add_cat" %></li>
</ol>
<div class = "card mb-3">
  <div class = "card-header">
    <i class = "fa fa-plus-circle "></i>
    <%= t ".add_cat" %>
  </div>
  <div class = "card-body">
    <%= form_for [:admin, @category] do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class = "form-group">
        <div class = "col-md-6">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control"%>
        </div>
      </div>
      <div class = "form-group">
        <div class = "col-md-6">
          <%= f.label :type_id, t(".type_id") %>
          <%= f.collection_select :type_id, load_parent_cat, :id, :name, {}, class: "custom-select" %>
        </div>
      </div>
      <div class = "form-group">
        <div class = "col-md-6">
          <%= f.submit t(".add_cat"),class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

