<% provide :title, @book.title %>
<div class="show_review">
  <h2>
    <%= link_to @book.title, @book %>
    <br/>
    <small>
      <%= t(".by", fullname: link_to(find_user_review(@review.user_id), user_path(@review.user_id))).html_safe %>
      <br>
      <%= load_star_rating(@review.rate) %>
    </small>
    <small style = "float:right;">
        <%= @review.updated_at.strftime("%d/%m/%Y") %>
    </small>
  </h2>
  <%= @review.content %>
  <hr class="soft"/>
  <div>
    <%= render "comments/comment" %>
  </div>
</div>
