<div id="sidebar" class="span3">
  <div class="well well-small">
    <ul class="nav nav-list">
      <strong><%= t "static_pages.Categorys" %></strong>
        <li>
          <button class="w3-button w3-block w3-left-align" onclick="showChilds()">
            <%= t ".type1" %> <i class="fa fa-caret-down"></i>
          </button>
          <div id="list-childs" class="w3-hide w3-white w3-card ">
            <%= link_to t(".type11"), "#", class: "w3-bar-item w3-button category" %>
            <%= link_to t(".type12"), "#", class: "w3-bar-item w3-button category" %>
          </div>
        </li>
    </ul>
  </div>
  <div class="well well-small">
    <ul class="nav nav-list rating">
      <strong><%= "Rating" %></strong>
      <% 5.times do |m| %>
        <li>
          <%= link_to books_path(star: m+1) do %>
            <% 5.times do |n| %>
              <% if n <= m%>
                <span class="fa fa-star checked"></span>
              <% else %>
                <span class="fa fa-star"></span>
              <% end %>
            <% end %>
          <% end %>
        </li>
      <% end %>
      <li> &nbsp;</li>
    </ul>
  </div>
  <div class="well well-small">
    <ul class="nav nav-list" id= "list_popular_book">
      <strong><%= t "static_pages.title_popular_book" %></strong>
      <li>
        <div class="thumbnail">
          <%= link_to "#" do %>
            <%= image_tag("b.jpg", class: "img_popular_books") %>
          <% end %>
          <div class="caption">
            <h4>
              <button class="fa fa-heart-o"></button>
              <span class="pull-right">$22.00</span>
            </h4>
            <a href="#">
              <h5 class="name_popular_books">Name book</h5>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="thumbnail">
          <%= link_to "#" do %>
            <%= image_tag("d.jpg", class: "img_popular_books") %>
          <% end %>
          <div class="caption">
            <h4>
              <button class="fa fa-heart-o"></button>
              <span class="pull-right">$22.00</span>
            </h4>
            <a href="#">
              <h5 class="name_popular_books">Name book</h5>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="thumbnail">
          <%= link_to "#" do %>
            <%= image_tag("i.jpg", class: "img_popular_books") %>
          <% end %>
          <div class="caption">
            <h4>
              <button class="fa fa-heart-o"></button>
              <span class="pull-right">$22.00</span>
            </h4>
            <a href="#">
              <h5 class="name_popular_books">Name book</h5>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
