<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active">
            <%= link_to t(".home"), root_path %>
          </li>
          <li class=""><%= link_to t(".about"), "#{}" %></li>
          <li class=""><%= link_to t(".book"), books_path %></li>
          <li class=""><%= link_to t(".review"), "#" %></li>
          <li class=""><%= link_to t(".contact"), "#" %></li>
        </ul>
        <%= form_tag books_path, class: "navbar-search pull-left",
          method: "get", html: {style: "display: inline"} do %>
          <%= text_field_tag :search, nil, placeholder: t("static_pages.search"), class: "search-query span2" %>
          <div class="btn-group" id="search_for">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <%= t "static_pages.search_for" %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><%= submit_tag t("nav_bar.submit_title"), class: "sub_search", name: "search_for" %></li>
              <li><%= submit_tag t("nav_bar.submit_author"), class: "sub_search", name: "search_for" %></li>
              <li><%= submit_tag t("nav_bar.submit_favorite"), class: "sub_search", name: "search_for" %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
