<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active">
            <%= link_to t(".home"), root_path %>
          </li>
          <li class=""><%= link_to t(".about"), "#{}" %></li>
          <li class=""><%= link_to t(".book"), books_path %></li>
          <li class=""><%= link_to t(".review"), "#" %></li>
          <li class=""><%= link_to t(".contact"), "#" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
