<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= t "application.title" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

    <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" %>

    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>

    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>
  </head>
  <body>
    <%= render "layouts/upper_header" %>
    <div class="container">
      <%= render "static_pages/lower_header" %>
      <%= render "layouts/nav_bar" %>
      <div class="row">
        <%= render "static_pages/left_body" %>
        <div class="span9" id="right_body">
          <%= yield %>
        </div>
      </div>
      <%= render "static_pages/popular_books" %>
    </div>
    <%= render "static_pages/footer" %>
  </body>
</html>
