<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= t "application.title" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

    <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" %>

    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>

    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>

    <%= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.slim.min.js" %>
  </head>
  <body>
    <%= render "layouts/upper_header" %>
    <div class="container">
      <%= render "layouts/lower_header" %>
      <%= render "layouts/nav_bar" %>
      <div class="row">
        <%= render "layouts/left_body" %>
        <div class="span9" id="right_body">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
          <%= render "layouts/popular_books" %>
        </div>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
